extends layout.pug 

block content
    h2 hello
    form(action="/hello" method="post")
        label Please enter your name: 
            input(type="text" name="username")
        input(type="submit" value="Submit")